/* font */
@font-face {
    font-family: CodaCaption-ExtraBold;
    src: url(../font/CodaCaption-ExtraBold.ttf);
}
*{
    font-family: Roboto;
}
h1,h2,h3,h4,h5{
    font-family: CodaCaption-ExtraBold;
}


/* body */

body{
    margin: 0;
}

.uni-padding{
    padding: 0 7%;
}
/* topbar */
#topbar{
    background-color: #576574;
    padding-top: 18px;
    padding-bottom: 18px;
    overflow: auto;
}

#tollfree{
    float: left;
    color: #fdfdfd;
    margin: 0;
}

#social-icon{
    float: right;
}

.fab{
    background-color: #fdfdfd;
    color: #576574;
    padding: 7px;
    border-radius: 50%;
}

.fa-facebook-f{
    padding: 7px 10px;
}

/* logo bar */
#logobar img{
    width: 64px;
    margin-top: 5px;
}

/* nav bar */
#navbar{
    background-color: #ee5253;
}

#navbar ul li{
    display: inline-block;
    padding: 18px 0px;
    padding-right: 35px;
}
#navbar ul{
     margin: 0px;
     padding: 0;
}
#navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* postre*/
#poster{
    background-image: url(../images/banner.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
#poster h1{
    font-size: 50px;
    color:#ee5253;
}
#poster p{
    font-size: 18px;
    text-align: center;
}

/* why us */

#whysection{
    overflow: auto;
    margin-bottom: 50px;
}
.red-heading{
    color: #ee5253;
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}
.section33{
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 0px 50px 0px 50px;
    box-sizing: border-box;
}
.section33 h2{
    color: #ee5253;
}
.section33 p{
    color: #363636;
}


/* contact us section */
#contact-container{
    background-color: #ee5253;
    color: white;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
.section70{
    width: 70%;
    float: left;
}



/* blog */
.section33 img{
    max-width: 100%;
}
.section33 a{
    color: #ee5253;
    font-weight: bold;
    text-decoration: none;
    font-family: CodaCaption-Extrabold;
    font-size: 14px;
}


/* Newsletter */
#subscribe-section{
    background-color: #ee5253;
    color: white;
    overflow: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.section50{
    float: left;
    width: 50%
}
.section50 h2{
    font-size: 27px;
    text-align: right;
    padding-right: 70px;
}
.section50 form{
    padding-top: 25px;

}
.section50 input[type="text"]{
    padding: 10px 15px;
    font-size: 15px;
    color: #ee5253;
    margin-right: 20px;
    border: 0px;
    width: 45%;
}
.section50 input[type="submit"]{
    padding: 8px 35px;
    font-size: 15px;
    color: #ee5253;
    border: 0px;
}

/* footer */
#imp-link{
    background-color: #576574;
    color: white;
    overflow: auto;
}

.div33{
    width: 33.33%;
    float: left;
    padding: 25px 50px;
    box-sizing: border-box;
}

.div33 h3{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    font-weight: normal;
}

#footer-menu{
    list-style-type: none;
    padding: 0px;
}

#footer-menu li{
    padding-bottom: 10px;

}

#footer-menu li a{
    text-decoration: none;
    color: white;
}
.footer-menu-container{
    padding-left: 100px ;
}

#copyright{
    background-color: #222f3e;
    text-align: center;
    color: #cbcbcb;
    padding: 10px;
}



/* responsive ipad */
/*@media only screen and(max-width: 768px){
    
} */

/* responsive mobile*/
@media only screen and (max-width: 500px){
    #logobar{
        text-align: center;
    }
    #poster h1{
        font-size: 28px;
    }
    .section33, .section70, .section50, .div33{
        width: 100%;
    }
    .section70{
        text-align: center;
        padding-right: 0px;
    }
    .section33 a{
        display: inline-block;
        margin-bottom: 20px;
    }
    .section50 h2{
        text-align: center;
        padding-right: 0px;
    }
   
}

/*mobile menu */
#navbar ul #mbl-cross, #mobile-bar{
    display: none;
}
@media only screen and (max-width: 500px){
    #navbar{
        background-color: #ee5253;
        position: absolute;
        top: 0px;
        height: 100vh;
        width: 280px;
        padding: 0px;

    }
    #navbar ul li{
        display: block;
        padding: 18px 0px;
        padding-right: 35px;
        border-bottom: 1px sold #d8d1d1;
        padding-left: 20px;
    }
    #mbl-cross{
        text-align: right;
    }
    .fa-times-circle{
        font-size: 25px;
    }
    #navbar{
        left: -280px;
        transition: all 0.5s ease;
    }
    #mobile-bar{
        background-color: #ee5253;
        color: white;
        padding: 12px;
        font-size: 20px;
    }
    #navbar ul #mbl-cross, #mobile-bar{
        display: block;
    }
}









